extends layout

block content
  .container.mx-auto.mt-5
    h1(class="text-xl border-b-4")= title
    .container.text-center
      p The purpose of this project is to play around with express, tailwindcss and mongodb.