extends layout

block content
  .container.mx-auto.mt-5
    h1(class="text-xl border-b-4 border-double")= title
    .container.text-center.mt-2
      p The purpose of this project is to play around with express, tailwindcss, mongodb and APIs.