<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title= title
    link(rel="stylesheet", href="./sheets/output.css")
  body.container.mx-auto
    header(class="w-full block flex flex-grow justify-center w-auto bg-teal-500 p-6")
      div(class="text-sm flex flex-row")
        a(href="/" class="block mt-4 lg:inline-block lg:mt-0 text-teal-100 hover:text-white mr-4") Index
        a(href="/about" class="block mt-4 lg:inline-block lg:mt-0 text-teal-100 hover:text-white mr-4") About
      div(class="ml-auto")
        a(href="https://github.com/Mike-Mp" target="_blank" class="inline-block text-sm px-4 py-2 leading-none sm:border sm:rounded text-white sm:border-white hover:border-transparent hover:text-teal-500 hover:bg-black mt-3 sm:mt-0") 
          img(src="/images/GitHub_Logo_White.png" class="w-8 hidden sm:block")
          p(class="sm:hidden") Github
    block messages
      if locals.flashes
        .flash-messages
          -const categories = Object.keys(locals.flashes)
          each category in categories
            each message in flashes[category]
              .flash(class=`flash--${category}`)
                p= message
                button(onClick="this.parentElement.remove()") X

    block content



    footer