extends layout
include mixins/_animeCard
block content
  .container.mx-auto.mt-4.p-4
    each anime,index in results
      .container
        //- h3(class="border border-transparent")= index
        +animeCard(anime)