mixin animeCard(anime)
  .container.bg-teal-400.border-8.border-double
    table(class="")
      tbody
        tr
          td(class="border px-4 py-2")
            a(href= anime.url )
              img(src= anime.image_url alt= anime.title)
            h2(class="")= anime.title
          td(class="border px-4 py-2")
            table
              tbody
                tr
                  td
                    h2.border-b.border-solid Synopsis
                    p= anime.synopsis
    